html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto';
  font-size: 13px;
  background: black url('../images/background-4k-fakesky.jpg') center center
    no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
img.logo {
  text-align: center;
  padding: 30px 0 20px 0;
  max-width: 350px;
}
h1 {
  color: #fff;
  font-weight: 300;
  font-size: 38px;
  padding: 0;
  margin: 0;
}
h2 {
  color: #50a0ff;
}
h3 {
  color: #fff;
  padding: 10px 0 30px 0;
  max-width: 720px;
  margin: 0 auto;
}
h4 {
  color: #003e88;
  font-size: 1.4em;
  text-align: center;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.contentHeader {
  background-color: #003e88;
  color: #fff;
  padding: 20px;
}
.content {
  background-color: white;
  padding: 0 20px 20px 20px;
  text-align: left;
}
.contentArrowDown {
  display: block;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 35px solid #003e88;
  font-size: 0;
  line-height: 0;
}
.controlsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 12px 0;
}
.controlsContainer .controlItem {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.controlsContainer .controlItem.rowFlex {
  flex-direction: row;
  align-items: end;
  flex-direction: column-reverse;
}
.controlItem label {
  line-height: 16px;
}
​ .roiResultsTitle {
  color: #0075ff;
}
select.plantLocation {
  padding: 6px;
  margin-left: 0px;
  border-radius: 4px;
  text-decoration: none;
  line-height: 30px;
  min-width: 167px;
  max-width: 167px;
  border: solid black 1px;
}
ul.roiAnalyticValues {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.roiAnalyticValues li:first-child {
  border-top: 1px solid darkgray;
}
ul.roiAnalyticValues li {
  margin: 0px 0;
  padding: 10px;
  border-bottom: 1px solid darkgray;
}
ul.roiAnalyticValues li::marker {
  font-size: 150%;
  font-weight: bold;
  margin: 0;
  color: #003e88;
}
ul.roiAnalyticValues li:nth-child(even) {
  background-color: rgba(233, 236, 243, 0.2);
}
ul.roiAnalyticValues li:nth-child(odd) {
  background-color: rgba(8, 62, 180, 0.05);
}
div.roiAnalyticValue ul li > strong {
  font-size: 14px;
}
.disclaimer {
  font-size: 8px;
  color: white;
  text-shadow: 0 0 5px #333, 0 0 2px #333;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
button.learnMore {
  background-color: #0075ff;
  margin: 20px auto 0 auto;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  color: white;
  font-size: 14px;
  display: block;
}
.plantSize {
  width: 25px;
  font-size: 14px;
  font-weight: 700;
}
.capacityRange {
  min-width: 167px;
}

@media screen and (max-width: 720px) {
  .controlsContainer {
    flex-flow: column;
    margin: 0;
  }
  .controlsContainer .controlItem {
    padding: 5px 0;
    align-items: baseline;
    flex-direction: column;
  }
  .controlsContainer .plantSize {
    margin: 0 auto;
  }
  select.plantLocation,
  .capacityRange {
    width: calc(100vw - 100px);
    min-width: 100%;
    max-width: 100%;
  }
}
